<div class="container">
  <!-- search -->
  <div class="input_from">
    <i class="fas fa-search"></i>
    <input
      type="search"
      id="form1"
      class="form-control"
      placeholder="Tìm món ăn hoặc quán ăn"
      aria-label="Search"
    />
  </div>

  <!-- end search -->
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-5" >
    <carousel  style="z-index: 1">
      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Near Me</div>
      </div>

      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Khuyến Mãi</div>
      </div>
      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Bữa Sáng 0Đ</div>
      </div>
      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Quán "Độc" giảm 100k</div>
      </div>
      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Deal khủng chỉ từ 1k</div>
      </div>
      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Lấy Tại Quán</div>
      </div>
      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Tối Đồng Gía 7k</div>
      </div>
      <div class="carousel-cell">
        <img src="assets/placeholder-restaurant-2by1.jpg" />
        <div class="slideOverlay___R6wjz">Quán Ngon Mới Nổi</div>
      </div>
    </carousel>
    <hr class="lines" />
  </div>
  <div class="text__menu">
    <a><span style="color: #00a5cf" routerLink=""> Trang Chủ</span> </a>
    <i class="fas fa-angle-right"></i>
    <span style="color: #00a5cf"> Ẩm Thực</span>
    <i class="fas fa-angle-right"></i>
    <span> khuyến mại</span>
    <i class="fas fa-angle-right" style="display: none"></i>
    <div class="title">
      <br />
      <h1>
        Khuyến Mại Tại
        <p style="color: #006400; display: inline">Hà Nội</p>
      </h1>
    </div>
  </div>
  <section >
    <div class="text-center container py-5">
   
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">$61.99</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">Eco</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">$61.99</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
              </h6>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-success ms-2">Eco</span><span
                        class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">$61.99</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span><span
                        class="badge bg-success ms-2">Eco</span><span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
              </h6>
            </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-success ms-2">Eco</span><span
                        class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
              </h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100"></div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">$61.99</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5>
                      <span class="badge bg-primary ms-2">New</span><span
                        class="badge bg-success ms-2">Eco</span><span class="badge bg-danger ms-2">-10%</span>
                    </h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">Product name</h5>
              </a>
              <a href="" class="text-reset">
                <p>Category</p>
              </a>
              <h6 class="mb-3">
                <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
              </h6>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>
  <div class="m-5">

    <button type="button" class="ant-btn ant-btn-block sr-only  " aria-hidden="true" (click)="toogleTag()" >
      <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
      <span> Xem Thêm</span>
     
    </button>
  </div>
</div>
