<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg" alt="..." />
              
                <carousel  style="z-index: 1">
                    <div class="carousel-cell">
                      <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg" />
                      <div class="slideOverlay___R6wjz">Near Me</div>
                    </div>
              
                    <div class="carousel-cell">
                      <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg" />
                      <div class="slideOverlay___R6wjz">Khuyến Mãi</div>
                    </div>
                    <div class="carousel-cell">
                      <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg" />
                      <div class="slideOverlay___R6wjz">Bữa Sáng 0Đ</div>
                    </div>
                    <div class="carousel-cell">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg" />
                        <div class="slideOverlay___R6wjz">Bữa Sáng 0Đ</div>
                      </div>
                   
                  </carousel>
            </div>
            
            <div class="col-md-6">
                
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">Cầy 7 món </h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through mx-2">$45.00</span>
                    <span>$40.00</span>
                </div>
                <p class="lead">Thịt chó là món ăn chế biến từ thịt của con chó. Đây được coi là món ăn thông thường và khá phổ biến ở nhiều quốc gia trên thế giới. Đặc biệt là tại các nước châu Á.

                    Ở Việt Nam, thịt chó được coi là món ăn quốc hồn, quốc túy. Thơ ca có câu “Sống ở trên đời ăn miếng dồi chó. Chết xuống âm phủ biết có hay không?” để nói về sở thích này.
                    
                    Hiện nay ở các nước phương Tây, việc ăn thịt chó được coi là điều cấm kỵ. Ở Việt Nam cũng đã tuyên truyền về việc không ăn thịt chó, nghiệp ăn thịt chó.</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn btn-success flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Các Sản Phẩm Liên Quan </h2>
        
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/104af8b23cf74dddb66b3c5075709045_1656285942458961076.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn btn-success mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/1568ceeec031487b970adfd3cf7cf5ca_1650452453241485626.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn btn-success mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/333b03aca33f48edae0e69e68e8b6d51_1652943239877245695.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sale Item</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn btn-success mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/ad7a935119664d62a55f726b2eff22f7_1654504226888114036.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn btn-success mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>