.title___2wxWx {
    font-size: 2.57142857rem;
    line-height: 1.33333333;
    font-weight: 500;
    margin-bottom: 48px;
}
 .greenText___d27ze {
    color: #00b14f;
}
.ant-btn-block {
    width: 100%;
}
.title___2wxWx{
    padding: 20px 10px;
    
}
.ant-btn {
    line-height: 1.42857143;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 6px;
    height: 48px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: #676767;
    background-color: #fff;
    border: 1px solid #676767;
}
.card-text{
   margin: 10px;
    font-style: 20px;
    font-weight: 500;
    line-height: 1.5;
}
 .bold___2_Blq {
    font-weight: 700;
}
 .whyGrabfoodList___2Fjpg {
    list-style-image: url(/static/images/tick.svg);
    padding-left: 24px;
}
 h2 {
    font-size: 36px;
    margin: 40px 0;
}
h4 {
    font-size: 24px;
    margin: 16px 0;
}
.ant-divider-horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    clear: both;
}
.card-img-top{
    height: 150px;
    object-fit: cover;
    

}
.card-img-top img{
    width: 100%;
   
}
.carousel-cell {
    
    img {
        height: 50% !important;
        object-fit: cover !important;
        border-radius: 15px;
        
        
    }
}
.title-content{
    font-size: 13px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.backgroundImgBorder___UKFLR {
    margin-top: 60px;
    margin-bottom: 16px;
    border: 1px solid #e5e9f0;
}
.btn .btn-light {
    display: flex;
    justify-content: center;
}
.icon{
    position: relative;
}
.icon i{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%)
}
::placeholder{
    text-align: center;
}
