<div
class="p-5 text-center bg-image"
style="
  background-image: url('assets/VN-new-2.jpg');
  height: 400px;
"
>


</div>
<div class="card" style="width: 22rem; height: 22rem; position: absolute; bottom: 450px;left: 300px;">

<div class="card-body">
  <h5>Good Morning</h5>
  <h1>Let's explore good food near you.</h1>
  <div class="icon">
  <input type="text" id="form12" class="form-control p-2 mb-2"  placeholder="nhập địa chỉ của bạn" style="padding-left: 25px !important;" />
    <i class="fas fa-map-marker-alt" style="color: red;"></i>
  </div>

  <div class="w-15">
    <button type="button" class="btn  btn-success p-3 w-100 " style="font-weight: 700; " >Tìm Kiếm</button>
  </div>
 
</div>

</div>
<div class="backgroundImgBorder___UKFLR"></div>
<div class="container" >
    <h1 class="title___2wxWx"><span style="font-weight: 700;">Mã khuyến mãi ShopFood ở </span>
        <span class="greenText___d27ze">Hà nội</span></h1>
        <div class="col-12" >
            <!-- cellWidth= 300 height="300" -->
            <carousel [cellWidth]=200 [height]="200" style="z-index: 1;"  >
                <div class="carousel-cell">
                    <img src="assets/9a8eb79308ba4aa7a171a969487c464a_1656669912790320165.jpg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                  <img src="assets/3bfce6a2ccd141df885736dec4dd302c_1656286214130609013.jpg">
                 
                <div>
                  <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                  <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                 
                  <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                  <div style="font-size: 16px;overflow: hidden!important;
                  display: -webkit-box!important;
                  -webkit-line-clamp: 1!important;
                  -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                </div>
                <div></div>


              </div>
              <div class="carousel-cell">
                <img src="assets/4c692fd8cc8346418cc3114ea5416eb8_1626626103599152116.png">
               
              <div>
                <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                <div style="font-size: 12px;">Bún - Phở - Cháo</div>
               
                <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                <div style="font-size: 16px;overflow: hidden!important;
                display: -webkit-box!important;
                -webkit-line-clamp: 1!important;
                -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
              </div>
              <div></div>


            </div>
                <div class="carousel-cell">
                    <img src="assets/4d0cc6e97b8449cfb4d5b42d24ddb3a5_1656286044121975544.jpg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                    <img src="assets/1568ceeec031487b970adfd3cf7cf5ca_1650452453241485626.jpg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                    <img src="assets/2539c77062a24fb0a8f0517ce26f1169_1656286155999951306.jpg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                    <img src="assets/eb8ea703d1f84b218b79b0f860e99425_1562559054203677203.jpeg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                    <img src="assets/3bfce6a2ccd141df885736dec4dd302c_1656286214130609013.jpg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                    <img src="assets/upload-photo-icon_e816de4ec50a4e7a95fc6cc52e3072cd_1548575711684762474.jpeg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                    <img src="assets/upload-photo-icon_3d16a293ac324b7e9aed94d783a57864_1548575050539497623.jpeg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
                <div class="carousel-cell">
                    <img src="assets/3bfce6a2ccd141df885736dec4dd302c_1656286214130609013.jpg">
                   
                  <div>
                    <div style=" font-weight: bold;">BTOM-Bún Riêu Cua</div>
                    <div style="font-size: 12px;">Bún - Phở - Cháo</div>
                   
                    <div style="font-size: 14px;"> 3.7  20 Phút &nbsp;.&nbsp; 1.4km</div>
                    <div style="font-size: 16px;overflow: hidden!important;
                    display: -webkit-box!important;
                    -webkit-line-clamp: 1!important;
                    -webkit-box-orient: vertical!important;"> Giảm 27K mã BUMTRO27</div>
                  </div>
                  <div></div>


                </div>
            </carousel>
        <div class="m-2 w-h-2  ">
      
          <button type="button" class="ant-btn ant-btn-block "  routerLink="/menu">See all promotions</button> 
        </div>
     <router-outlet></router-outlet>
      
      
        </div>
       
          <h1 class="title___2wxWx"><span style="font-weight: 700; ">There's something for everyone! </span>
            <span class="greenText___d27ze">Hà nội</span></h1>
            <section >
              <div class="text-center container py-5">
             
            
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
  
                           <a routerLink="/productdetails">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                              <h5><span class="badge bg-primary ms-2">New</span></h5>
                            </div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">$61.99</h6>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                          <a routerLink="/productdetails">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                              <h5><span class="badge bg-success ms-2">Eco</span></h5>
                            </div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">$61.99</h6>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                        <a href="#!">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                              <h5><span class="badge bg-danger ms-2">-10%</span></h5>
                            </div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                          <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                          <a routerLink="/productdetails">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                              <h5>
                                <span class="badge bg-success ms-2">Eco</span><span
                                  class="badge bg-danger ms-2">-10%</span>
                              </h5>
                            </div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                          <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                        </h6>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                        <a href="#!">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100"></div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">$61.99</h6>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                        <a href="#!">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                              <h5>
                                <span class="badge bg-primary ms-2">New</span><span
                                  class="badge bg-success ms-2">Eco</span><span class="badge bg-danger ms-2">-10%</span>
                              </h5>
                            </div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                          <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                        <a href="#!">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                              <h5>
                                <span class="badge bg-success ms-2">Eco</span><span
                                  class="badge bg-danger ms-2">-10%</span>
                              </h5>
                            </div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                          <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                        </h6>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                        <a href="#!">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100"></div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">$61.99</h6>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                      <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="assets/5f17e04b49864fa5a095a3af37700dc3_1656286174222701846.jpg"
                          class="w-100" />
                        <a href="#!">
                          <div class="mask">
                            <div class="d-flex justify-content-start align-items-end h-100">
                              <h5>
                                <span class="badge bg-primary ms-2">New</span><span
                                  class="badge bg-success ms-2">Eco</span><span class="badge bg-danger ms-2">-10%</span>
                              </h5>
                            </div>
                          </div>
                          <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                          </div>
                        </a>
                      </div>
                      <div class="card-body">
                        <a href="" class="text-reset">
                          <h5 class="card-title mb-3">Product name</h5>
                        </a>
                        <a href="" class="text-reset">
                          <p>Category</p>
                        </a>
                        <h6 class="mb-3">
                          <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </section>
        
             <div > <h1 class="title___2wxWx"><span>Tại Sao Nên lựa chọn ShopFood! </span></h1>
                <ul class="whyGrabfoodList___2Fjpg">
                    <li >
                        <span  class="bold___2_Blq"> Nhanh Nhất</span>
                        <span> - GrabFood cung cấp dịch vụ giao đồ ăn nhanh nhất thị trường.</span>
                </li>
                <li><span class="bold___2_Blq">Dễ dàng nhất</span><span> - Giờ đây, bạn chỉ cần thực hiện vài cú nhấp chuột hoặc chạm nhẹ là đã có thể đặt đồ ăn. Hãy đặt đồ ăn trực tuyến hoặc tải xuống siêu ứng dụng Grab của chúng tôi để có trải nghiệm nhanh hơn và thú vị hơn.</span></li>
                <li><span class="bold___2_Blq">Đáp ứng mọi nhu cầu</span><span> - Từ món ăn đặc sản địa phương đến các nhà hàng được ưa thích, nhiều lựa chọn đa dạng chắc chắn sẽ luôn làm hài lòng khẩu vị của bạn.</span></li>
                <li><span class="bold___2_Blq">Thanh toán dễ dàng</span><span> - Giao và nhận đồ ăn thật dễ dàng. Thanh toán bằng GrabPay thậm chí còn dễ dàng hơn nữa.</span></li>
                <li><span class="bold___2_Blq">Nhiều quà tặng hơn</span><span> - Tích điểm GrabRewards cho mỗi đơn hàng của bạn và sử dụng điểm thưởng để đổi lấy nhiều ưu đãi hơn.</span></li>
            </ul>
           
            </div>
            <div> <h2> Các câu hỏi thường gặp </h2>
            <h4> ShopFoot là gì ?</h4>
            <p>Lunch, Bún Cá Chấm Gốc Đa - Vũ Thạnh for Dinner! We are here to satisfy your hunger with a wide selection of merchant partners in Vietnam.

                GrabFood là dịch vụ Giao đồ ăn nhanh nhất tại Việt Nam. Chúng tôi đã sắp xếp tất cả các món ăn, nhà hàng và thực phẩm yêu thích của bạn một cách hợp lý để giúp bạn tìm được đồ ăn dễ dàng và nhanh chóng nhất có thể. Tìm và đặt món ăn yêu thích trên khắp Việt Nam - đặt đồ ăn trực tuyến chỉ bằng vài thao tác, từ món Lifted Coffee &amp; Brunch cho bữa sáng, đến Maazi Indian – Nhà Hàng Ấn Độ cho bữa trưa, đến Bún Cá Chấm Gốc Đa – Vũ Thạnh cho bữa tối! Hãy để chúng tôi xua tan cơn đói của bạn nhờ một loạt đối tác bán đồ ăn ở Việt Nam.
                </p>
                <button type="button" class="ant-btn readMore___1HEqB ant-btn-block" (click)="toogleTag()"><span>Read More</span></button>
        </div>
        <div class="hide___1cQi5"><div class="ant-divider ant-divider-horizontal"></div>
        <div *ngIf="showMe">
          <h4 >Làm cách nào để đặt đồ ăn ở Việt Nam?</h4><p>Sau đây là cách đơn giản nhất để đặt đồ ăn qua GrabFood khi bạn ở Việt Nam:</p><ol><li>
            <span class="bold___2_Blq">Tìm kiếm nhà hàng hoặc món ăn yêu thích</span>
            <span> - Nhập địa chỉ của bạn vào trang chủ. Xem các Nhà hàng và điểm ăn uống gần chỗ bạn trong danh sách của GrabFood. Chọn nhà hàng yêu thích, duyệt hết thực đơn và chọn món ăn bạn muốn đặt.</span></li><li>
                <span class="bold___2_Blq">Kiểm tra &amp; Thanh toán</span><span> - Sau khi chắc chắn rằng bạn đã đặt đầy đủ các món theo nhu cầu, hãy nhấp vào tab “ORDER NOW” (ĐẶT MÓN NGAY) và nhập địa chỉ giao đồ ăn cuối cùng. Chọn phương thức thanh toán phù hợp nhất với bạn và thanh toán.

                </span></li><li><span class="bold___2_Blq">Giao hàng</span><span> - GrabFood đã thiết kế một hành trình phục vụ khách hàng liền mạch để bạn có thể thưởng thức món ăn một cách trọn vẹn. Chúng tôi sẽ gửi cho bạn email và tin nhắn SMS tức thời xác nhận đơn đặt hàng của bạn và thời gian giao hàng dự kiến. Sau đó chúng tôi sẽ giao ngay đồ ăn cho bạn.
        </span></li></ol><div class="ant-divider ant-divider-horizontal">

        </div><h4>GrabFood có cung cấp dịch vụ giao đồ ăn 24x7 không?</h4>
        <p>Chúng tôi chỉ biết một điều duy nhất, đó là "đồ ăn", vậy nên tất nhiên chúng tôi cung cấp dịch vụ này rồi. Xin lưu ý, mặc dù chúng tôi là đối tác giao đồ ăn phục vụ 24x7, nhưng một số nhà hàng trong danh mục của chúng tôi có thể hạn chế giao đồ ăn khuya hoặc có thể không phục vụ đối với các đơn đặt hàng. Tuy nhiên, chúng tôi đã liệt kê danh sách những nhà hàng phục vụ nhu cầu ăn khuya của bạn trong mục Late Night Delivery (Giao hàng khuya).</p><div class="ant-divider ant-divider-horizontal"></div>
        <h4>GrabFood có chấp nhận tiền mặt không?</h4><p>Tất nhiên là có! GrabFood chấp nhận mọi hình thức thanh toán cho dịch vụ giao đồ ăn, bao gồm cả tiền mặt khi giao hàng tại Việt Nam.</p><div class="ant-divider ant-divider-horizontal"></div><h4>Tôi có thể thanh toán trực tuyến trên GrabFood cho đơn hàng của mình không?</h4><p>GrabFood chấp nhận nhiều hình thức thanh toán cho các đơn đặt đồ ăn trực tuyến, bao gồm cả thanh toán trực tuyến tại Việt Nam bằng thẻ tín dụng, thẻ ghi nợ, PayPal hoặc trả tiền lúc nhận hàng. Hãy nhớ sử dụng
             <a href="">Moca</a> để tích điểm thưởng mà bạn có thể sử dụng để được giảm giá cho đơn hàng tiếp theo và cho các dịch vụ khác của Grab nhé.</p>
        <div class="ant-divider ant-divider-horizontal"></div><h4>Tôi có thể đặt đồ ăn trên GrabFood cho người khác không?</h4><p>Tất nhiên rồi, hãy chăm sóc những người thân yêu của mình bằng cách gửi  những món ăn mà họ yêu thích đến tận nhà. Bạn chỉ cần cập nhật  địa chỉ giao hàng và tên người nhận trước khi đặt đơn hàng của bạn.</p>
        <div class="ant-divider ant-divider-horizontal"></div><h4>GrabFood tính phí giao đồ ăn như thế nào?</h4><p>Phí giao hàng của chúng tôi phụ thuộc vào nhiều yếu tố hoạt động như khoảng cách từ vị trí của bạn đến nhà hàng. Bạn có thể kiểm tra phí giao hàng chính xác cần phải trả trước khi thanh toán tại mục thanh toán trên ứng dụng Grab. Ngoài ra còn có phần “Free Delivery” (Giao hàng miễn phí) liệt kê các nhà hàng gần chỗ bạn mà không tính phí giao hàng.</p>
        <div class="ant-divider ant-divider-horizontal"></div><h4>Những nhà hàng nào được liệt kê trong GrabFood?</h4><p>Chúng tôi có gì trên GrabFood? Chúng tôi tự hào có nhiều nhà hàng và món ăn nhất so với bất kỳ ứng dụng giao đồ ăn nào ở Việt Nam. Bạn có thể lựa chọn trong số hàng nghìn nhà hàng trên GrabFood Việt Nam. Bạn có thể đặt đồ ăn trực tuyến từ tất cả các điểm ăn uống yêu thích của Burger King, Jollibee, KFC, McDonalds, Long John Silver, Pastamania, Dominos Pizza, Pizza Hut, Subway!</p>
        <p>GrabFood cũng có mã khuyến mãi, ưu đãi và giảm giá có hạn dành riêng cho các nhà hàng trong danh mục. Bạn có thể được hưởng chiết khấu lớn và hàng loạt ưu đãi khác cho đơn đặt đồ ăn của mình. Giờ thì đặt đồ ăn thôi! </p><div class="ant-divider ant-divider-horizontal"></div>
        <h4>GrabFood có áp dụng giá trị đơn hàng tối thiểu không?</h4><p>Có! Nhưng bạn có thể trả số tiền chênh lệch nếu giá trị đơn hàng của bạn nhỏ hơn số tiền đặt hàng tối thiểu.</p></div>
        </div>
      
    
        
        
</div>
